@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Lato", sans-serif;
  padding: 0;
  box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
}



h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1{
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a{
  text-decoration: none;
  ;position: relative;
}






li {
  list-style-type: none;
  
}
.container{
  padding: 50px 0;
  margin-top: 70px;
}

.text--purple{
  color: #6030b1
}

section:nth-child(even){
  background-color: #f8f8f8;
}

.section__title{
  margin-bottom: 20px;
}
/* NAVAGATION BAR */

nav {
  height: 100px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
  
}

.nav__link--anchor {
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  margin: 0 12px;
  position: relative;
  
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
  ;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo{
    font-size: 24px;
    color: #6030b1;
    margin: 0px 12px;
    font-size: bold;
}

/*ABOUT ME*/
#about-me{
  min-height: 100vh;
  display: flex;
flex-direction: column;
}


.about-me__info{
  display: flex;
  flex-direction: column;
}
.about-me__info--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask{
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.16);
  margin-bottom: 28px ;
}

.my__pic{
  width: 100%;
  /*Improving my own picture*/
  transform: scale(1.5);
  padding-top: 10px;
}

.about-me__info--title{
  font-size: 16px;
  }

.about-me__info--para{
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__link{
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 0 16px;
}

.about-me__img--container{
  flex: 1;
display: flex;
align-items: center;
}

.about-me__img{
width: 100%;
padding: 60px 40px;
}

/*TECH STACK*/

.language__img{
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
  position: relative;
}



.language:hover .language__img{
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
  
}

.language{
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper{
justify-content: center;
display: flex;
align-items: center;
padding: 25px 16px;
}

.language__list{
  display: flex;
  width: 100%;
  justify-content: center;
}

.language__name{
  position: absolute;
  bottom: 0;
  transform: scale(0);
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name{
transform: scale(1);
transition: all 300ms;
opacity: 1 ;
}

/*FOOTER*/

footer{
  background-color: #242424;
}

.logo{
  width: 70px;
  height: 70px;
}

.footer__row{
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__social--link, .footer__copyright{
  color: white;
  
}

.footer__logo{
  margin-bottom: 20px;
}

.footer__social--list, .footer__logo--popper{
  margin-bottom: 28px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  color: white;
}

.footer__logo--popper{
  position: absolute;
  right:0;
  top:30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms;
}

.footer_anchor{
  position: relative;
  margin-bottom: 20px;
}

.footer_anchor:hover .footer__logo--popper{
transform: translateX(60px);
opacity: 1;
}